/* body {
    background: #DDFCDD;
    color: black;
}

h1 {
    text-align: left;
    font-size: 18pt;
    font-style: normal;
    color: blue;
}

h3 {
    text-align: left;
    font-size: 14pt;
    font-style: italic;
    color: magenta;
}

p {
    text-align: center;
    font-style: normal;
    font-family: Cordia New;
    font-size: 14pt;
} */

body {
    background: pink;
    color: black;
}

h2 {
    text-align: center;
    font-size: 16pt;
}

h4 {
    text-align: left;
    font-size: 12pt;
    font-style: italic;
    color: green;
}

p {
    text-align: left;
    font-style: normal;
    color: blue;
}